body {
    font-family: helvetica;
    background:  antiquewhite;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select:    none;
    -ms-user-select:     none;
    user-select:         none;
}

.flex-column {
    display:        flex;
    flex-direction: column;
    align-items:    center;
    margin-bottom:  auto;
}

.clickable.unanswered {
    fill: black;
}

.clickable.unanswered:hover {
    fill: #128;
}

.clickable.right {
    fill: green;
}

.clickable.wrong {
    fill: red;
}

.header {
    letter-spacing: 2px;
}

.map {
    background:    lightblue;
    width:         600px;
    height:        600px;
    border-radius: 50px;
}

.timer {
    font-size: 20pt;
}
